@model IEnumerable<StaffManagement.Core.Model.StudentMarkDetails>

@{
    ViewData["Title"] = "StudentMarkView";
}


<div id="content">
    <table class="table table-responsive-lg table-striped">
        <thead class="bg-info">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Roll_No)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tamil)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.English)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Maths)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Science)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Social)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Average)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roll_No)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tamil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.English)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maths)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Science)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Social)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Average)


                    </td>
                    <td></td>
                </tr>

                <h1 class="text-center text-danger">
                    Welcome @Html.DisplayFor(modelItem => item.Name)
                </h1>



                

            }

        </tbody>

       
    </table>
</div>

<input type="button" id="cmd" class="btn btn-success" value="print" onclick="print()" />
